/* sans pro-bold */
@font-face {
  font-family: "bold";
  src: url("fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* sans pro regular */
@font-face {
  font-family: "regular";
  src: url("fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
/* semi-bold */
@font-face {
  font-family: "semi-bold";
  src: url("fonts/SourceSansPro-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* sans pro black */
@font-face {
  font-family: "black";
  src: url("fonts/SourceSansPro-Black.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* light */
@font-face {
  font-family: "light";
  src: url("fonts/SourceSansPro-Light.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

/* pro-italic */
@font-face {
  font-family: "pro-it";
  src: url("fonts/SourceSansPro-It.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: rgba(7, 22, 41, 1);
}

/* header */

header {
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

header .container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  padding: 30px 60px;
}

.nav-links {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

header img {
  width: auto;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
  font-family: "bold";
}

/* banner */

.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titre {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.titre h1 {
  font-size: 64px;
  margin-bottom: 10px;
  font-family: "bold";
}

.slogans {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 20px;
}

.slogans span {
  font-size: 18px;
  font-weight: 500;
  font-family: "bold";
}

.titre button {
  background-color: #C271FF;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "semi-bold";
}

.learn {
  text-align: center;
  padding-top: 60px;
  color: white;
  position: relative;
  z-index: 1;
}

.learn h2 {
  font-size: 28px;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: "light";
}

.learn span {
  color: #cc44db;
  font-family: "bold";
}

.photos {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: nowrap;
}

.photo-card {
  width: 160px;
  text-align: center;
}

.photo-card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.photo-card h3 {
  margin-top: 15px;
  font-size: 18px;
  font-family: "black";
}

.photo-card p {
  font-size: 14px;
  opacity: 0.8;
  font-family: "pro-it";
}

/* quote */

.quote {
  padding: 60px 20px;
  background-color: rgba(194, 113, 255, 1);
  font-family: "regular";
  text-align: center;
}

.quote-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.quote-container img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
}

.quote-text {
  max-width: 600px;
  text-align: left;
}

.quote-text blockquote {
  font-style: italic;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.6;
}

.person-name {
  color: white;
  padding-top: 20px;
  font-family: "bold";
}

/* vidéos */

.popular-tutorials {
  text-align: center;
  padding: 80px;
  font-family: 'Inter', sans-serif;
  background-color: white;
}

.popular-tutorials h1 {
  font-size: 32px;
  margin-bottom: 40px;
}

.popular-tutorials h1 span {
  color: purple;
  font-weight: bold;
  font-family: "bold";
}

.video-grid {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.video-card {
  width: 220px;
  text-align: left;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  width: 100%;
  max-height: 140px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: rgb(48, 45, 48);
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.video-card h2 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 6px;
  font-family: "bold";
}

.video-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  font-family: "regular";
}

.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 8px;
}

.video-info img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.video-info .author {
  flex-grow: 1;
  margin-left: 8px;
  color: purple;
  font-family: "light";
}

.video-info .duration {
  color: #999;
}

.span .author {
  font-family: "light";
}

.rating img {
  width: 14px;
  margin-right: 2px;
}

/* membership */

.member {
  background-color: #071629;
  padding: 80px 20px;
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.member h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 60px;
  font-family: "bold";
}

.member h1 span {
  color: #C271FF;
  font-weight: 700;
  font-family: "light";
  font-size: 32px;
}

.memb-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
  align-items: start;
}

.memb-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memb-cont img {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

.memb-cont h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family: "semi-bold";
}

.memb-cont p {
  font-size: 14px;
  color: #D8D8D8;
  line-height: 1.6;
  max-width: 200px;
  font-family: "reguar";
}

/* Bouton violet */
.memb-grid button {
  grid-column: 1 / -1;
  margin: 60px auto 0;
  background-color: #C271FF;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "semi-bold";
}

.memb-cont img {
  max-height: 70px;
  max-width: 70px;
  object-fit: cover;
  display: block;
  align-items: center;
}

/* FAQ */

.faq {
  background-color: white;
  padding: 60px 20px;
  
}

.faq h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 60px;
  font-family: "light";
}

.faq-row {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.faq-item {
  max-width: 500px;
}

.faq-item h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "bold";
}

.faq-item p {
  color: #666;
  line-height: 1.6;
  font-size: 14px;
  font-family: "regular";
}

/* footer */

footer {
  background-color: rgba(7, 22, 41, 1);
  padding: 40px 60px;
  color: white;
  font-family: "regular";
  font-weight: 600;
  position: relative;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 20px;
}

.right a img {
  width: 24px;
  height: 24px;
  margin: 0 8px;
  filter: invert(1);
}

.right a {
  display: inline-block;
}

footer .copyright {
  margin-top: 20px;
  font-size: 12px;
  opacity: 0.6;
}
/* Dylan.D